footer hr {
  border: 1px solid #b2b2b24f;
  margin: 20px 5%;
}
.footer-container {
  padding: 40px 5%;
  color: #fff;
  display: flex;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
}
.footer-contatos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-contatos > a {
  font-family: "Orbitron", sans-serif;
}
.footer-contatos > p {
  font-family: "Poppins", sans-serif;
  max-width: 30ch;
  font-size: 0.8rem;
  color: #b2b2b2;
}
.footer-redesSociais {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
.footer-redesSociais li {
  border: 2px solid #d6fd51;
  border-radius: 50%;
  padding: 10px;
}
.footer-redesSociais img {
  width: 20px;
}
.footer-links {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 50px;
}
.footer-links li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-links p {
  color: #d6fd51;
}
.footer-links a {
  font-size: 0.8rem;
  color: #b2b2b2;
}
.direitos {
  font-family: "Poppins", sans-serif;
  color:#b2b2b2;
  text-align: center;
  padding: 10px 5% 25px 5%;
}


@media (max-width: 900px) {
  .footer-links {
    gap: 30px;
  }
}
@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-contatos > p {
    max-width: 100ch;
  }
  .footer-links p {
    font-size: 0.9rem;
  }
  .footer-links a {
    font-size: 0.7rem;
  }
  .direitos p {
    font-size: .8rem;
  }
}